.mySpace li{color: #222;}
.mySpace .on{color: #3686e8;font-weight: bold;}
.east-head .icon{
    display: inline-block;
    float: left;
    margin: 6px 8px 0 0;
    width: 19px;
    height: 19px;
}
.east-head span.icon{background: url("../images/u358.png") no-repeat center;background-size: 100% 100%;}
.east-head .icon-state{display: inline-block;float: right;}
.tb-permission .button{
    position: relative;
    display: inline-block;
    width: 60px;
    height: 22px;
    float: left;
    margin: 8px;
    background-color: #f0f2f3;
    text-align: center;
    line-height: 22px;
    cursor: pointer;
    font-size: 12px;
    border: 1px solid #3686e8;
    border-radius: 4px;
}
.tb-permission .color-blue{
    float: right;
    background-color: #3686e8;
    color: white;
}
.tb-permission .del{
    position: absolute;
    display: none;
    top: -6px;
    right: -6px;
    width: 16px;
    height: 16px;
    background: url("../images/u259.png") no-repeat center;
}
.tb-permission .on{display: block;}
.tb-permission .off{display: none;}