extends layout
block meta
	title 测试页面
block main
	//- canvas
	//- #calendar.calendar
	#test
		div(class='{{a}}',id='{{b}}')
			em(class='{{e2}}',xh-for='e')
				em(xh-for='e1') {{e10}}
block foot
	//- script(src="js/calendar.js")
	script(src="js/base.js")