extends layout
block meta
	title 测试页面
block main
	#introduce
	#test
		div(class='{{a}}',id='{{b}}')
			.hello(xh-if="c") test
			ul(class='{{e2}}',xh-for='e')
				li(xh-for='e1', xh-on='testevent') {{e10}}
block foot
	script(src="js/base.js")