extends layout
block meta
	title 测试页面
block main
	//- #calendar.calendar
	#test
		div(class='{{a}}',id='{{b}}',xh-for='e')
			em(class='{{e2}}',xh-for='e1')
				em {{e10}}
block foot
	//- script(src="js/calendar.js")
	script(src="js/base.js")