doctype html
html
	head
		meta(charset='utf-8')
		meta(name='renderer', content='webkit|ie-comp|ie-stand')
		meta(name='subsite', content='白驹')
		meta(name='keywords', content='白驹')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(http-equiv='description', content='中文,日历,白驹')
		meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,shrink-to-fit=no')
		link(rel='stylesheet', type='text/css', href='css/style.css')
		script(type='text/javascript', src='http://www.xinhuanet.com/global/lib/jq/jquery3.1.1/jquery3.1.1.min.js')
		block meta
	body
		block main
		block foot