doctype html
html
	head
		meta(charset='utf-8')
		meta(name='renderer', content='webkit')
		meta(name='renderer', content='webkit|ie-comp|ie-stand')
		meta(name='subsite', content='新华网健康中国促进工作委员会')
		meta(name='keywords', content='新华网健康中国促进工作委员会')
		meta(http-equiv='X-UA-Compatible', content='IE=edge,chrome=1')
		meta(http-equiv='description', content='中文,新华网,健康中国,新华网健康中国促进工作委员会')
		meta(name='viewport', content='width=device-width,initial-scale=1.0,maximum-scale=1.0,minimum-scale=1.0,user-scalable=no,shrink-to-fit=no')
		link(rel='stylesheet', type='text/css', href='css/style.css')
		script(type='text/javascript', src='https://www.yidaiyilu.gov.cn/js/PC/jquery1.11.1.min.js')
		block meta
	body
		.bo-div
			h1 hello world!
		block main
		.footer
			script(src="http://www.xinhuanet.com/static/js/com_copyright.js")
		block foot