@charset "UTF-8";
body,html{
    margin: 0;
    padding: 0;
    font-size: 14px;
    font-family: "Microsoft YaHei", "微软雅黑", sans-serif;
}
a{text-decoration: none;}
a,button,input[type="button"],input[type="submit"],.button{cursor: pointer;}
ul{margin: 0;padding: 0;list-style: none;}
.bg_white{background-color: #ffffff;}
.border_b{border-bottom: 1px solid rgba(215, 215, 215, 1);}
.hidden{display: none;}
.img-full img{width: 100%;}
.pop-color{ color: #3686e8; }
.rf{float: right;}
.unfix:after { clear: both; }
.unfix:before, .unfix:after {
    display: table;
    content: "";
}
.w_400{width: 400px;}
.popup ul li{
    height: 50px;
    line-height: 50px;
    text-align: center;
}
.popup li>div{height: 100%;}
.ft-14{font-size: 14px;}
.ft-16{font-size: 16px;}
.inline{
    display: inline-block;
    float: left;
}
.table{padding: 30px 0;margin: 0 auto;}
.title{
    height: 60px;
    line-height: 60px;
    font-size: 18px;
    border-bottom: 2px solid #3686e8;
}
.title a{
    display: inline-block;
    float: left;
    width: 100px;
    color: #3686e8;
    font-weight: bold;
    text-align: center;
}
.title .on{
    text-align: center;
    color: white;
    background-color: #3686e8;
}
.center{text-align: center;}
.submit{
    width: 120px;
    height: 40px;
    background-color: #3686e8;
    color: #fff;
    border: none;
    margin: 20px auto 0;
    border-radius: 4px;
    font-size: 20px;
    font-weight: bold;
}
.button{
    display: inline-block;
    width: 80px;
    height: 24px;
    line-height: 24px;
    color: #ffffff;
    background: #3686e8;
    border-radius: 4px;
    text-align: center;
    overflow: hidden;
    margin-top: 13px;
    *display: inline;
    *zoom: 1
}
/*upload page*/
.popup .left{
    text-align: left;
    width: 320px;
}
.popup .left>input{
    width: 316px;
    height: 26px;
    text-indent: 0.4em;
}
.popup .right{
    width: 80px;
    text-align: right;
}
.popup .select_path{width: 320px;height: 32px;}

/*add page*/
.space .table{width: 550px;margin: 0 auto;}
.space .addr{height: 352px;}
.space .box{
    width: 233px;
    height: 100%;
}
.space .title_2{
    text-align: center;
    font-size: 16px;
    line-height: 50px;
}
.space .list{
    height: 300px;
    overflow-y: auto;
    border: 1px solid rgba(121, 121, 121, 1);
}
.space .icon{
    position: relative;
    width: 80px;
    height: 100%;
}
.space .icon img{
    position: absolute;
    left: 50%;
    top: 50%;
    margin-top: -17px;
    margin-left: -17px;
}
.space .submit{margin-top: 40px;}
.space .on{background-color: #3686e8;color: white;}
.space .qr .title{border: none;text-align: center;}
.space .qr .img-box{position: relative;}
.space .qr .img-full{width: 200px;height:200px;margin: 0 auto;overflow: hidden;}
.space .qr .download{color: #3686e8;position: absolute;right: 100px;bottom: 0;}
.space .qr .msg{margin-top: 10px; text-align: center;}
/*mkdir*/
.space .group{
    height: 40px;
    background-color: rgba(215, 215, 215, 1);
    font-size: 16px;
    line-height: 40px;
    text-indent: 2em;
}
.space .group_name{
    height: 40px;
    line-height: 40px;
}
.group_name input{width: 80%;height: 24px;}
.space .group_confirm{text-indent: 3em;}
.group_confirm input{position: relative;top: 2px;}
/*notice*/
.notice {
    position: fixed;
    display: none;
    width: 400px;
    z-index: 99;
    border: 1px solid rgba(215, 215, 215, 1);
    overflow: hidden;
}
.notice a{
    text-decoration: underline;
    padding: 0 10px;
}
.notice .title{
    height: 40px;
    line-height: 40px;
    text-indent: 1em;
    border-bottom-color: rgba(215, 215, 215, 1);
    position: absolute;
    width: 100%;
}
.notice .table{
    padding: 42px 0 10px 0;
    max-height: 450px;
    overflow: auto;
}
.notice li{
    padding: 10px;
    border-bottom: 1px solid rgba(215, 215, 215, 1);
}
.notice .operate{text-align: right;}
.notice .time{font-size: 12px;}
.notice .more{
    text-align: center;
    width: 100%;
    line-height: 40px;
    height: 40px;
}
.notice .close-btn{
    background: url("../../js/layer/skin/default/icon.png")no-repeat 0 -40px;
    cursor: pointer;
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    right: 16px;
    top: 12px;
}
/*表单校验*/
.checkout .checkout-result{
    position:relative;
    width:100%;
    height:100%;
    color: red;
    font-size: 12px;
    text-indent: 0.25em;
}
.checkout .pass{
    color:green;
}