@import "~@/assets/scss/common";

.gc-breadcrumb {
    line-height: 16px;
    font-size: 12px;
    color: $c_grey;

    .breadcrumb-item {
        position: relative;
        margin-left: 5px;
        padding-right: 15px;
        display: inline-block;

        span {
            color: $c_grey;
        }

        .link {
            &:hover {
                color: $c_on;
            }
        }

        &:after {
            content: '';
            position: absolute;
            transform: translate(0, -50%);
            top: 50%;
            right: 0;
            width: 10px;
            height: 1px;
            background: $c_grey;
        }

        &:first-child {
            margin-left: 0;
        }

        &:last-child {
            &:after {
                display: none;
            }
        }
    }
}