/*-----------------------reset--------------------------*/
html, body, div, span, iframe, p, a,canvas {
    margin: 0;
    padding: 0;
    border: 0;
    vertical-align: baseline;
    outline: none;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}
html {
    height: 100%;
}
body {
    height: 100%;
    background-color: #000000;
    /*background-color: hsla(180,50%,50%,1);*/
    font-size: 12px;
    line-height: 120%;
    font-family: "微软雅黑", Tahoma, Helvetica, Arial, sans-serif;
    color: #7d7d7d;
    overflow: hidden;
}
ol, ul {
    list-style: none;
}
ul li {
    float: left;
}
a {
    cursor: pointer;
    text-decoration: none;
    color: #555;
}
input{
    border: none;
}
/*---------------base--------------*/
/*position*/
.hide {
    display: none;
}
.fl {
    float: left;
}
.fr {
    float: right;
}
.fs16 { font-size: 16px; }
.fs18 { font-size: 18px; }
.fs20 { font-size: 20px; }
.fs25 { font-size: 25px; }
.bold { font-weight: bold; }
.td-lt {
    text-decoration: line-through;
}

/*color*/
.red1   { color: #b92535; }
.red2   { color: #da0000; }
.red3   { color: #e50000; }
.red4   { color: #ff1600; }
.red5   { color: #f80303; }
.black  { color: #000000; }
.grey   { color: #5c5c5c; }
.grey1  { color: #424242; }
.yellow { color: #ed6c00; }
.yellow1{ color: #ed6d1f; }
.yellow2{ color: #ec6c1f; }
.yellow3{ color: #ff8200; }
.blue   { color: #007abe; }
.blue1  { color: #2d567f; }
.blue2  { color: #007abe; }
.white  { color: #ffffff; }
.bg-color1 {background-color: #fef0bd;}
.bg-color2 {background-color: #f6f6f6;}
.liner{display: inline-block;}
.ptr {position: relative;}

/*select*/
.select {
    width: 100px;
    height: 20px;
    margin: 0 5px;
    display: inline-block;
    position: relative;
}
.select input {
    width: 100%;
    height: 100%;
}
.select .select-img {
    top: 2px;
    right: -3px;
    position: absolute;
    float: right;
}
/*unfix*/
.unfix:after {
    content: ".";
    display: block;
    clear: both;
    visibility: hidden;
    line-height: 0;
    height: 0;
}
.unfix {
    display: inline-block;
}
html[xmlns] .unfix {
    display: block;
}
* html .unfix {
    height: 1%;
}
/*---------------*/
.footer{
    position: absolute;
    bottom: 10px;
    left: 50%;
    width: 300px;
    height: 50px;
    margin-left: -150px;
}
.input{
    width: 100%;
    height: 46px;
    background: none;
    text-align: center;
    color: #ffffff;
    font-size: 24px;
    font-weight: bold;
    border-bottom: 1px solid #ffffff;
    overflow: auto;
    outline: none;
}