@charset "utf-8";
/*全局样式*/
body,ul,ol,li,p,span,h1,h2,h3,h4,h5,h6,form,fieldset,table,img,div,dl,em{margin:0; padding:0;}
html,body {font-size: 10px;font-family: "微软雅黑", Arial, sans-serif, Verdana, Tahoma; background:#fff;height: 100%;width: 100%;overflow: hidden;}
ul,li{list-style: none;}
img {border: 0;}
em{ font-style:normal; }
input,select{vertical-align:middle; text-align: left; font-size:12px; text-indent:5px;}
.base-color{color: #3686e8;}
.base-bg{background-color: #3686e8;}
.clearboth{ clear:both;line-height:0;height:0;font-size:0;overflow:hidden}
.hidden{display: none;}
.show{display: block;}
.lf{ float:left}
.rf{ float:right}
.red{color:#f00}
a.red:link,a.red:visited,a.red:hover{color:#f00}
.grap{color:#ccc}
a.grap:hover{color:#ccc}
a{text-decoration:none;cursor:pointer;}
a:link,a:visited{color:#333; }
a.blue ,.blue{ color:#2953a6;}
a.blue:link { color:#2953a6;}
a.blue:visited{ color:#2953a6;}
a.blue:hover { color:#2953a6;}
.tr{text-align:right}
.tl{text-align:left}
.tc{text-align:center}

/*框架*/
.pane,.ui-layout-pane { padding: 0;margin:0 auto; overflow-y: hidden;overflow-x:hidden}
.pane-north,.pane-south{overflow: hidden;margin:0 auto;padding:0}
.pane-north {border-bottom: none;}
.pane-north .content {text-align: center;}
.pane-south .content {text-align: left;background:#fff;color: #333;padding-top: 4px;padding-left: 10px;font-size:12px}
.pane-center {padding: 0;}
.ui-layout-resizer-west{ width:0; display:none}
.ui-layout-north{
    visibility: visible;
    display: block;
    position: absolute;
    margin: 0;
    z-index: 4;
    top: 0;
    left: 0;
    height: 60px;
    overflow: visible;
    width: 100%;
}
.ui-layout-west {
    background-color:#f2f2f2;
    border-right:#d1dfe9 1px solid;
    visibility: visible;
    display: block;
    position: absolute;
    margin: 0;
    z-index: 2;
    left: 0;
    top: 60px;
    width: 210px;
}
.ui-layout-center{
    background-color:#fff;
    position: absolute;
    top: 60px;
    left: 210px;
    padding: 25px 25px 0;
    margin:0 auto;
    z-index:2
}
.ui-layout-south{
    visibility: visible;
    display: block;
    position: absolute;
    margin: 0;
    z-index: 2;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 27px;
    overflow: visible;
    border-top:#d1dfe9 1px solid;
}
.ui-layout-west .header{width: 210px}
.ui-layout-west .header div{margin:0 auto; width:183px;height:36px;font-weight:500;margin-top:10px;}
.header a{
    cursor: pointer;
    height: 36px;
    width: 91px;
    display: block;
    float: left;
    background-color: #3686e8;
    margin-right: 20px;
    color: white;
    line-height: 36px;
    font-size: 1.6em;
    text-align: center;
    border-radius: 4px;
}
.header div a.s_yun{background:url(../../images/discbg.png) no-repeat -247px -355px;}
.header div a.s_note{background:url(../../images/discbg.png) no-repeat -338px -355px;width: 92px}
.header a.s_yun:hover{background-position: -247px -392px;_background-position: -247px -393px;}
.header a.s_note:hover{background-position: -338px -392px;_background-position: -338px -393px;}
.ui-layout-west .header,.ui-layout-west .header a:link,.ui-layout-west .header a:visited,.ui-layout-west{color:#1878b6;font-size:18px;}

.ui-layout-west .content{ overflow-x:hidden; overflow-y:auto}
.subhead,.footer {background: #d6d6d6 url(../../images/sub_header_bg.png) 0 50% repeat-x;padding: 3px 10px;font-size: 0.85em;position: relative;overflow: hidden;white-space: nowrap;}
.subhead {border-bottom: 1px solid #777;}
.footer {border-top: 1px solid #777;}
.content {padding: 0;position: relative;}

/*top样式*/
.head-top { height:60px;margin:0;background-color: #3686e8;}
.head-top .logo { background: url(../../images/discbg.png) no-repeat 0 0; width:235px; height:40px; margin-left:20px; margin-top:10px;}
.head-top .menubut{width:252px; height:58px;position:absolute; left:50%;margin-left:-126px;}
.head-top .menubut a {width:63px; height:58px; display:inline-block;  float:left;}
.head-top .menubut a img{ height:58px;width:63px; border:none ; cursor:pointer; }
.head-top .menubut input.sort{ background:url(../../images/createSort.png) no-repeat }

.userInfo{margin:0 auto;height:60px;line-height:60px;font-size:12px;}
.userInfo img{float:left; margin-top:10px; margin-right:10px;}
.userInfo span{float:left;color:#fff; font-weight:bold; padding-right:15px;}
.userInfo a{float:left; color:#22589f; padding-right:20px;}
.userInfo a:visited{color:#fff}
.userInfo .login{width:144px;height:24px;line-height:22px;margin-top:6px;background:url(../../images/discbg.png) no-repeat 0px -347px;}
.userInfo .login span{width:55px;height:20px;line-height:20px;padding:0;color:#fff;text-align:center;display:inline-block}
.userInfo .login span.register{margin-left:30px;}
.userInfo .login span a:link,.userInfo .login span a:visited{ color:#fff}
.userInfo .login span a:hover{color:#f00;text-decoration: underline;}

/*溢出样式*/
.overflow{overflow-x: hidden;overflow-y: auto;}

/*左边菜单*/
.west-list,.leftmenu{padding:0;text-align:left;margin-top:10px; overflow-x:hidden;overflow-y:auto;*zoom:1;}
.west-list {overflow:hidden;}
.west-list li{width:100%;height:40px; line-height:40px; margin-top:12px;padding-left:30px;  }
.west-list li:hover,.west-list li.treelibg{background-color: #3686e8;}
.west-list li a{font-size:14px; color:#333;padding-left:39px;background:url(../../images/discbgnew.png)  0 0 no-repeat;display:block; height:40px;font-weight: bold;}
.west-list li a#latestupload { background-position:-200px 0;}
.west-list li a#cloudphoto{ background-position:-200px -50px;}
.west-list li  a#cloudvideo{ background-position:-200px -100px;}
.west-list li  a#myfile{ background-position:-200px -150px;}
.west-list li  a#publicdisk{ background-position:-200px -200px;}
.west-list li  a#cloudnote{ background-position:-200px -250px;}
.west-list li.treelibg a{font-weight:bold; color:#fff;}
.west-list li  a#latestupload:hover,.west-list li  a#latestupload.latestuploaddown{ background-position:0 0; }
.west-list li  a#cloudphoto:hover,.west-list li  a#cloudphoto.cloudphotodown{ background-position:0 -50px; }
.west-list li  a#cloudvideo:hover,.west-list li  a#cloudvideo.cloudvideodown{ background-position:0 -100px; }
.west-list li  a#myfile:hover,.west-list li  a#myfile.myfiledown{ background-position:0 -150px; }
.west-list li  a#publicdisk:hover,.west-list li a#publicdisk.publicdiskdown{ background-position:0 -200px; }
.west-list li  a#cloudnote:hover,.west-list li  a#cloudnote.cloudnotedown{ background-position:0 -250px; }
.west-list li  a:hover{font-weight:bold; color:#fff;}

.leftmenu ul{margin:0;padding:0; text-align:left;}
.leftmenu .container{margin:0 auto;padding:0}
.leftmenu li{list-style:none;text-align:left;padding: 0;display: block;overflow: hidden;}
.leftmenu li .shover a:link,.leftmenu li .shover a:visited{ color:#627c85;cursor:pointer;text-decoration:none;width:140px;height:40px; }
.leftmenu li span{display:inline-block;width:10px;height:10px;cursor: pointer;margin-top:18px;margin-left: 6px;vertical-align: top}
/* .leftmenu li .shover span{top:12px;} */
.leftmenu li span.openfile{background: url(../../images/minus.png) no-repeat;}
.leftmenu li span.closefile{background: url(../../images/add.png) no-repeat;}
.leftmenu li span.unfile{background:none;}
.leftmenu li.button{color:#627c85; background: url(../../images/navicon.png) no-repeat  10px 16px;font-size:14px;width:178px;padding-left:32px;text-align:left;font-weight:normal;display:block;}
.leftmenu li.button1{color:#627c85; background: url(../../images/sortlist.gif) no-repeat  10px 16px;font-size:14px;width:178px;padding-left:32px;text-align:left;font-weight:normal;display:block;}
.leftmenu li.button1 a{display:inline-block;overflow: hidden;line-height: 40px}
.leftmenu li.button a{display:inline-block;height: 40px;width: 120px;overflow: hidden;line-height: 40px}
.leftmenu li.button:hover{border:#ccc 1px dashed;}
.leftmenu li.button1:hover{border:#ccc 1px dashed;}
.leftmenu li .hover{background: url(../../images/discbg.png) no-repeat  -47px -223px;}
.leftmenu li .shover{background: url(../../images/discbg.png) no-repeat  -52px -264px;height: 40px}
.leftmenu li .shover1{background: url(../../images/sortlist.gif) no-repeat  10px 16px;font-size:14px;width:178px;padding-left:32px;text-align:left;font-weight:normal;display:block; background-color:white;}
.leftmenu .dropdown{margin-left:15px;}
.leftmenu .dropdown li span{margin-top: 10px}
.leftmenu .dropdown li{text-align:left; color:#646464; line-height:25px; padding-left:5px;font-size:12px; }
.leftmenu .dropdown li a{height:28px;width:120px;margin:0;display:inline-block;padding-left:10px; line-height:28px;text-decoration: none; cursor:pointer;}
.leftmenu .dropdown li a:link,.leftmenu .dropdown li a:visited{ color:#646464; }
.leftmenu .dropdown li .dhover{ background:url(../../images/discbg.png) no-repeat  -156px -437px; color:#000; font-weight:600;overflow:hidden; cursor:pointer;padding-left:35px ;}
.leftmenu .dropdown li a:hover{text-decoration:underline;font-weight:bold;}

/*回收站*/
.Recycle{width:144px;padding-left:65px;height:37px;line-height:37px;position:absolute;bottom:0;left:0; background: url(../../images/discbg.png) no-repeat  0px -466px;color:#1878b6;font-size:14px;cursor:pointer; }

/*UI dialog样式重写*/
.ui-dialog .ui-dialog-content {padding: 0;}
.ui-tabs .ui-tabs-panel {padding: 0;}
.float-radio {float: left;margin: auto 5px;height: 25px;overflow: hidden;}
.float-checkbox {float: left;margin: auto 5px;height: 25px;overflow: hidden;}

/*表单美化*/
span.checkbox {width: 19px;	height: 25px;padding: 0 5px 0 0;background: url(../../images/checkbox.gif) no-repeat;display: block;clear: left;float: left;}
span.checkbox:hover {background: url(../../images/checkbox.gif) 0 -25px no-repeat;}
span.radio {width: 19px;height: 25px;padding: 0 5px 0 0;background: url(../../images/radio.gif) no-repeat;display: block;clear: left;float: left;}
span.radio:hover {background: url(../../images/radio.gif) 0 -25px no-repeat;}
span.select {position: absolute;width: 158px; height: 21px;padding: 0 24px 0 8px;color: #fff;font: 12px/21px arial,sans-serif;background: url(../../images/select.gif) no-repeat;overflow: hidden;}

/*表单验证结果样式*/
.ajax-form {background: url("../../images/prompt_bg.jpg") right bottom no-repeat;}
.error-form {background: url("../../images/error_bg.jpg") right bottom no-repeat;}
.success-form {background: url("../../images/success_bg.jpg") right bottom no-repeat;}
#messageBox {display: none;	padding: 5px;border: 1px solid #F00;background: #FFF;}

/*列表进度条*/
.ui-layout-center .header{margin:0 auto;height:56px;_height:55px;overflow:hidden;position: relative; }
.ui-layout-center .space {height:56px; line-height:20px; text-align:left; color:#858585; margin-left:auto; margin-right: 215px; font-weight:normal;padding-right:20px; }
.ui-layout-center .space em{ color:#0098dc; font-weight:600;font-size:14px;}
.ui-layout-center .space b{ font-weight:bold; color:#000}
.ProgressBar{margin-top:10px;}
.ProgressBar .leftbar{background:url(../../images/sbarLeft.png) no-repeat ;height:20px;width:5px;font-size:5px;}
.ProgressBar .con{ background: url(../../images/barbg.gif) repeat-x; height:20px;line-height:20px;}
.ProgressBar .rightbar{ background:url(../../images/sbarRight.png) no-repeat; width:7px; height:20px;font-size:7px;}
.probar{height:20px; width:200px;text-align:left;border: 1px solid #3686e8;overflow: hidden;}
#p_percent{ background-color: #3686e8; height:100%;line-height:20px;margin-right:-4px;_margin-top:3px;font-family:Arial ;font-size:10px;text-align:center;color:#fff}
#p_percent_temp{ background:url(../../images/probg.gif) repeat-x; height:12px;line-height:12px;display:none;padding:0;margin-right:-4px;_margin-top:3px;font-family:Arial ;font-size:10px;text-align:center;color:#000}
.barright{ background:url(../../images/proright.gif) no-repeat left; height:12px; width:4px;display:inline-block}
.ui-layout-center .rprobar{padding-left:15px;width:205px;height:56px;text-align:left;margin:0 auto;position: absolute;top:0;right:0;border-left: 1px solid #d1dfe8;}
.ui-layout-center .rprobar .textBar{line-height: 20px;}
.ui-layout-center .rprobar .sBar{width:200px;border:#c0dbee 1px solid;margin:0 auto;padding:0;height:24px;margin-top:auto;margin-bottom:2px;position:relative;}
.ui-layout-center .rprobar .sproBar{height:24px;background:url(../../images/sprobg.gif) repeat-x bottom;line-height:24px;}
.ui-layout-center .rprobar .sBar span.cont{position: absolute;top:0;left:0;height:25px;line-height:25px;display:inline-block;text-align:center;color:#065c94;font-size:14px;width:200px;cursor:pointer;}
.ui-layout-center .rprobar .musicsBar{width:201px;background:url(../../images/musicBg.png) repeat-x bottom;margin:0 auto;height:26px;margin-top:auto;position:relative;cursor:pointer;}
.ui-layout-center .rprobar .musicsBar span{position: absolute;top:3px;left:31px;height:16px;line-height:16px;display:inline-block;text-align:center;color:#333;font-size:12px;width:140px;}

/*当前位置*/
.loc{ background: url(../../images/discbg.png) no-repeat -25px -222px; height:36px; padding-left:8px; margin-top:15px;overflow:hidden; position:relative}
.loc .locnav{ background: url(../../images/locbg.gif) repeat-x; height:36px;text-align:left; padding:0;line-height:36px;margin-right:8px;}
.loc .arrow{ background: url(../../images/discbg.png) no-repeat -61px -41px; width:28px;_width:27px; height:24px;margin-top:6px;overflow:hidden}
.loc .arrow:hover{ background:url(../../images/discbg.png) no-repeat -61px -67px;}
.loc li{margin-right:20px; display: inline-block; text-align:left; float:left;line-height:36px; cursor:pointer;font-size:12px;}
.loc li.switchfiledisk{ background:url(../../images/discbgnew.png) no-repeat 0 -305px; height:24px; width:113px; line-height:24px; margin-top:6px;margin-right:10px;}
.loc li.switchfiledisk span{ height:24px; line-height:24px; display:inline-block; text-align:center; color:#8395a5; padding:0; margin:0; cursor:pointer;float:left;overflow:hidden ;}
.loc li.switchfiledisk span.switchfile:hover,.loc li.switchfiledisk span.filedown{ width:55px;background:url(../../images/discbgnew.png) no-repeat 0 -332px ;  color:#FFF}
.loc li.switchfiledisk span.fileup{ width:55px;background:url(../../images/discbgnew.png) no-repeat 0 -305px ;  color:#FFF}
.loc li.switchfiledisk span.switchdisk:hover,.loc li.switchfiledisk span.diskdown{width:58px;background:url(../../images/discbgnew.png) no-repeat -55px -332px ;  color:#FFF}
.loc li.switchfiledisk span.diskup{width:58px;background:url(../../images/discbg.png) no-repeat -55px -305px ;  color:#FFF}
.loc li a.tloc{color:#8b8b8b;}
.loc li a.tloc:hover{text-decoration: underline;color:#244ec4}
.loc li#location_menu span{color:#000;}
.loc li.switch{ background:url(../../images/discbg.png) no-repeat 0 -170px; height:25px; width:155px; line-height:25px; margin-top:6px;float:right; margin-right:10px;}
.loc li.switch span{ width:51px; height:25px; line-height:25px; display:inline-block; text-align:center; color:#8395a5; padding:0; margin:0; cursor:pointer;float:left;overflow:hidden }
.loc li.switch span.size:hover,.loc li.switch span.sizedown{ background:url(../../images/discbg.png) no-repeat 0 -196px ;  color:#FFF}
.loc li.switch span.sizeup{ background:url(../../images/discbg.png) no-repeat -155px -196px ;  color:#FFF}
.loc li.switch span.type:hover,.loc li.switch span.typedown{background:url(../../images/discbg.png) no-repeat -51px -196px ;  color:#FFF}
.loc li.switch span.typeup{background:url(../../images/discbg.png) no-repeat -206px -196px ;  color:#FFF}
.loc li.switch span.time:hover,.loc li.switch span.timedown{background:url(../../images/discbg.png) no-repeat -102px -196px ;  color:#FFF}
.loc li.switch span.timeup{background:url(../../images/discbg.png) no-repeat -257px -196px ;  color:#FFF}
.loc li.format{ background:url(../../images/discbg.png) 0 -40px; width:90px; height:25px;margin-top:5px; margin-right:10px; line-height:25px; float:right;overflow:hidden}
.loc li.format span{ display:inline-block; width:30px; height:25px; margin:0 auto; padding:0;overflow:hidden;}
.loc li.format span.cros:hover ,.loc li.format span.crosdown { background:url(../../images/discbg.png) no-repeat 0 -66px;width:30px; }
.loc li.format span.ros:hover, .loc li.format span.rosdown{ background:url(../../images/discbg.png) no-repeat -30px -66px;width:29px;}
.loc li.search{background:url(../../images/search.gif) no-repeat;width:164px;height:25px;padding-left:1px;margin-right:5px;text-align:left;margin-top:6px;float:right;overflow:hidden}
.loc li.search input{border:0 none;width:136px;vertical-align:top;margin-top:4px;color:#666;overflow:hidden}
.loc li.search .searchbut{width:22px; height:24px;display:inline-block;cursor: pointer;margin:0;padding:0}
.loc .rightbg{ background:url(../../images/discbg.png ) no-repeat -32px -222px; width:8px; right:0;top:0; height:36px; position:absolute }

/*文件列表*/
.fileList,.fileList2{ margin:0 auto; padding-top:15px }
.filecon,.fileconbg{ margin: 0 auto; padding:0;height:82px;line-height:82px;overflow:hidden;vertical-align: middle;}
.fileconbg{background:url(../../images/listbg.png) repeat-x ;}
.filecon td{padding:12px 5px;height:56px;overflow:hidden;vertical-align: middle; line-height:20px; font-size:12px; text-align:left; color:#666; font-family: "微软雅黑"}
/* .sample{ position: relative;} */
/* .sample .table-tool{position: absolute;left:40px;top:-41px;color:#f00;font-weight:600;font-family: "宋体"} */
.filecon td.img{ margin-right:20px; padding:0 ;}
.filecon td.img .check{position: relative;display:inline-block;width:58px;height:62px;z-index:20;}
.filecont li p.img{position: relative;display:inline-block;width:60px;height:62px;z-index:20;}
.filePrivate,.filePublic{width:26px;height:19px; position: absolute;right:-16px;top:-4px;}
.filePrivate{background: url("../../images/fileBute.png") no-repeat 0 -19px;}
.filePublic{background: url("../../images/fileBute.png") no-repeat 0 0;}
.filecon td.img input.checkboxBut,.filecont  li p.img input.checkboxBut{position:absolute;right:-12px;bottom:-2px;display:none;z-index:22}
.filecon td .tit,.filecon td .tit a,.filecon td .tit a:link,.filecon td .tit a:visited,.filecon td .tit a:hover{ color:#627c85; line-height:36px; height:36px;width:360px;overflow:hidden; font-weight:600; text-align:left; font-size:14px;}
.filecon td .s_tit,.filecon td .s_tit a,.filecon td .s_tit a:link,.filecon td .s_tit a:visited,.filecon td .s_tit a:hover{ color:#627c85; line-height:36px; height:36px;width:200px;overflow:hidden; font-weight:600; text-align:left; font-size:14px;}
.noteEdit,.edit{ height:20px; line-height:20px;font-size:12px; padding-left:20px; text-align:left;color:#627c85;overflow:hidden}
.edit{ background:url(../../images/discbg.png) no-repeat -1px -304px; width:422px;}
.edit:hover{ background:url(../../images/discbg.png) no-repeat -1px -324px; width:422px; color:#FFF}
.noteEdit,.s_noteEdit{ float:left;}
.noteEdit{background:url(../../images/discbg.png) no-repeat 0 -503px;width:265px;}
.noteEdit:hover{ background:url(../../images/discbg.png) no-repeat 0 -525px; width:265px; color:#FFF}
.noteEdit a,.edit a,.s_noteEdit a{ display:inline-block; width:36px;line-height:20px;height:20px; padding-right:20px;text-align: center;}
.noteEdit a:link,.noteEdit a:visited,.edit a:link,.edit a:visited,.s_noteEdit a:link,.s_noteEdit a:visited{color:#627c85;text-decoration: none;}
.noteEdit a:hover,.edit a:hover,.s_noteEdit a:hover{color:#fff}
.noteEdit a.grap,.s_noteEdit a.grap,.noteEdit a.grap:hover,.s_noteEdit a.grap:hover,.edit a.grap,.edit a.grap:hover{color:#ccc}
.noteEdit,.s_noteEdit,.edit a.w{padding-right:5px;}
.s_noteEdit{ background:url(../../images/discbg.png) no-repeat 0 -503px;width:200px;}
.s_noteEdit:hover{ background:url(../../images/discbg.png) no-repeat 0 -525px; width:200px; color:#FFF}


.filecont { float:left; display:block; width:105px;margin:0 15px 10px; height:130px; text-align:center;overflow:hidden;padding:0; }
.filecont li { height:110px;width:105px;padding:5px 0;}
.filecont li a{line-height:18px;display:block;word-break:break-all;overflow:hidden;}
.filecont:hover { background:url(../../images/flist_bg.png) no-repeat 0 0; }

/*全选操作*/
.pgs{height:25px;width:100%;margin-left:auto;margin-right: auto;padding:0}
.pm-div {float: left; margin-left: 10px; height:25px;line-height:25px;text-align:left;}
.pm-div a:hover,.pm-div label:hover{cursor: pointer;color:#0e82d4;text-decoration: underline;}
#file_del_href{background: url("../../images/cancel.png") no-repeat;padding-left:20px;margin-left:5px;}
#file_share_public_href{background: url("../../images/fileAction.png") no-repeat 0 -17px;padding-left:20px;margin-left:5px;display:inline-block;height:16px;line-height:16px;}
#file_share_private_href{background: url("../../images/fileAction.png") no-repeat 0 0;padding-left:20px;margin-left:5px;display:inline-block;height:16px;line-height:16px;}
#file_email_href{background: url("../../images/envelope.png") no-repeat 0 0;padding-left:20px;margin-left:5px;display:inline-block;height:16px;line-height:16px;}
#file_remove_href{background: url("../../images/fileshare.gif") no-repeat 0 0;padding-left:20px;margin-left:5px;display:inline-block;height:16px;line-height:16px;}
#file_share_href{background: url("../../images/private.png") no-repeat 0 0;padding-left:20px;margin-left:5px;display:inline-block;height:16px;line-height:16px;}

/*公共盘上传图标*/
#file_add_href{background: url("../../images/pvfileupload.png") no-repeat;padding-left:20px;margin-left:5px;}

#file_del1_href{background: url("../../images/cancel.png") no-repeat;padding-left:20px;margin-left:5px;}
#resume_href{background: url("../../images/fileshare.gif") no-repeat 0 0;padding-left:20px;margin-left:5px;display:inline-block;height:16px;line-height:16px;}


/*记事本全选操作样式*/
#notepad_del_href{background: url("../../images/notepad/notepad_delete.png") no-repeat;padding-left:20px;margin-left:5px;}
#notepad_edit_href{background: url("../../images/notepad/notepad_edit.png") no-repeat;padding-left:20px;margin-left:5px;}
#notepad_add_href{background: url("../../images/notepad/notepad_add.png") no-repeat;padding-left:20px;margin-left:5px;}

/*分类全选操作样式*/
#sort_del_href{background: url("../../images/notepad/notepad_delete.png") no-repeat;padding-left:20px;margin-left:5px;}
#sort_edit_href{background: url("../../images/notepad/notepad_edit.png") no-repeat;padding-left:20px;margin-left:5px;}
#sort_add_href{background: url("../../images/notepad/notepad_add.png") no-repeat;padding-left:20px;margin-left:5px;}

/*公共盘全选操作样式*/
#disk_del_href{background: url("../../images/notepad/notepad_delete.png") no-repeat;padding-left:20px;margin-left:5px;}
#disk_edit_href{background: url("../../images/notepad/notepad_edit.png") no-repeat;padding-left:20px;margin-left:5px;}
#disk_add_href{background: url("../../images/notepad/notepad_add.png") no-repeat;padding-left:20px;margin-left:5px;}

/*分页*/
.pagination {padding:3px;margin:0 auto; text-align:center;float:right;font-size:12px;}
.pagination a {padding: 2px 5px 2px 5px; margin: 2px;border:#eee 1px solid; text-decoration: none;color: #036cb4;}
.pagination a:hover, div.pagination a:active {border:1px solid #999;color: #666;}
.pagination span.cur_page {padding: 2px 5px 2px 5px;margin: 2px;border: 1px solid #036cb4;font-weight: bold; background-color: #036cb4;color: #FFF;}
.pagination span.disabled {padding: 2px 5px 2px 5px; margin-right: 2px; border: 1px solid #eee;text-decoration: none; color:#dddddd;}

/*弹窗*/
.popbox { width:589px; padding-bottom:11px; height:auto; overflow:hidden; margin:0 auto;z-index:9999999;background:url(../../images/pop_bbg.png) no-repeat left bottom #fff ; }
.popbox a { cursor:pointer;}
.poptop { height:43px; line-height:43px; padding:3px 8px 0 19px; color:#fff; background:url(../../images/pop_tbg.png) no-repeat 0 0; overflow:hidden; }
.poptop h3 { font-size:16px;}
/** html .poptop { filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale, src="/images/pop_tbg.png"); background:none; }*/
.poptop a { display:block; overflow:hidden; line-height:9999999px; margin-left:10px; }
.pop_upbtn { height:33px; width:89px; margin-top:6px; background:url(../../images/upload_btn.png) no-repeat 0 0;}
.pop_x { width:45px; height:43px; overflow:hidden; background:url(../../images/popclose_btn.png) no-repeat 0 0; }
.pop_xon { background-position:0 -43px;}
.pop_tbtnon { background-position:0 -33px;}
.popinner { padding:0 4px; background:url(../../images/pop_bg.png) repeat-y 0 0;}

.pop_crumb, .pop_scrumb{ height:40px; line-height:30px;margin:0 auto;width:auto; padding-left:15px;font-size:12px;font-weight:normal;}

.pop_crumb span { color:#b67d3f; padding:0 4px;}
.pop_crumb a { color:#b67d3f; text-decoration:none; }
.pop_crumb a:link { color:#b67d3f; }
.pop_crumb a:visited { color:#b67d3f; }
.pop_crumb a:hover { color:#b67d3f; text-decoration:underline; }
.popinbox { border-top:2px solid #0e6b9f; background-color:#fff;  }
.pop_tip { color:#a7a7a7; padding:0 0 10px 0;font-size:12px}
.pop_body { padding:10px 15px;margin:0 auto; overflow:hidden}
.upfile_box { padding:10px; margin-bottom:10px; font-size:14px; line-height:24px; border:1px solid #c3e2f1; background-color:#f0f6f8; }
.upfile_box p { display:block; overflow:hidden; }
.upfile_box span { float:left; padding-right:20px;}
.upfile_box span img { margin-right:5px;}
.upflie_x { margin:4px 5px 5px 5px; line-height:24px;}
.upfile_succ { color:#479717;}
.pop_body .pop_item { line-height:24px; color:#333;margin-top:5px;margin-left:0 auto;margin-right:0 auto;}
.pop_body .pop_item label { color:#000;}
.pop_input { border:1px solid #bfbfbf; height:28px; line-height:28px; padding:0 5px; width:220px;background:url(../../images/popinput_bg.gif) no-repeat 0 0;}
.pop_text { border:1px solid #bfbfbf; background:url(../../images/popinput_bg.gif) no-repeat 0 0;padding:0 5px; width:334px; height:85px;}
.popebar { display:block; width:400px; height:19px; padding:0 10px; margin:15px 0; line-height:18px; background:url(../../images/popedit_box.png) no-repeat 0 0;}
.popebar li { float:left; }
.pop_ebtn { display:block; color:#fff; background-image:url(../../images/popedit_btns.png); background-repeat:no-repeat; padding-left:20px; margin-right:15px; }
.pop_ebtn1 { background-position:0 0; }
.pop_ebtn2 { background-position:0 -17px; }
.pop_ebtn3 { background-position:0 -34px; }
.pop_ebtn4 { background-position:0 -50px; }
.pop_ebtn5 { background-position:0 -67px; }
.pop_ebtn6 { background-position:0 -85px; }

.pop_player { text-align:center; padding:30px ;}
.pop_item td { padding:6px 0;font-size:12px;}
.pop_item td span{padding-left:10px}
.pop_btn { display:inline-block;cursor: pointer; border:none; width:73px; height:29px; margin-right:10px; line-height:26px; font-weight:bold; font-size:14px; text-align:center; color:#3b630a;background:url(../../images/pop_btn.png) no-repeat;}
.pop_btn1 {background-position:0 0;cursor: pointer;}
.pop_btn2 {background-position:0 -58px; color:#333;cursor: pointer;}
.pop_btn3 {background-position:0 -29px;cursor: pointer;}
.pop_ok { padding-top:15px;height:200px;  }
.pop_okbg {background:url(../../images/popok_bg.gif) no-repeat left bottom;}