@charset "UTF-8";
body{background: url("http://tmisc.home.news.cn/vdisk1/js/lib/vx_disk/images/poptip_bg.png") repeat-x scroll 0 0;}
#ta{overflow: visible;}
.ta{width:70px;height:61px;}
#rbbox{position:absolute;right:0;bottom:0;width:200px;height:0;overflow:hidden;}